.vs/ride-share-connect_ttp1adds2508_team-1/CopilotIndices/17.14.794.21998/CodeChunks.db-shm
.vs/ride-share-connect_ttp1adds2508_team-1/CopilotIndices/17.14.794.21998/CodeChunks.db-wal
.vs/ride-share-connect_ttp1adds2508_team-1/CopilotIndices/17.14.794.21998/SemanticSymbols.db-shm
.vs/ride-share-connect_ttp1adds2508_team-1/CopilotIndices/17.14.794.21998/SemanticSymbols.db-wal
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/2f1603be-10d9-43a2-b41c-6f7c5a0a9d4e.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/38c62459-2f07-4de1-8802-af5fb39087f0.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/1592358a-8a5b-4565-8f15-07e51110b5d8.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/38c62459-2f07-4de1-8802-af5fb39087f0.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/38c62459-2f07-4de1-8802-af5fb39087f0.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/506ff85a-0193-44ae-9903-0d7f62525466.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/42c27e3e-26ea-487e-8762-bc042b8b99d0.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/506ff85a-0193-44ae-9903-0d7f62525466.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/4400a0f4-f4a1-402d-b7de-e6cf362c80e8.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/38c62459-2f07-4de1-8802-af5fb39087f0.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/7965166d-f6cd-4073-a53d-dc5dc15af6fb.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/8688914b-48c6-49e0-a0a9-329a7c7e6e83.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/2eaf21b0-a386-4662-b867-b5c5d3f3188e.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/506ff85a-0193-44ae-9903-0d7f62525466.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/38c62459-2f07-4de1-8802-af5fb39087f0.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/38c62459-2f07-4de1-8802-af5fb39087f0.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/38c62459-2f07-4de1-8802-af5fb39087f0.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/506ff85a-0193-44ae-9903-0d7f62525466.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
/.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/506ff85a-0193-44ae-9903-0d7f62525466.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/38c62459-2f07-4de1-8802-af5fb39087f0.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
RideShareConnect/obj/Debug/net8.0/RideShareConnect.assets.cache
RideShareConnect/obj/Debug/net8.0/RideShareConnect.AssemblyInfoInputs.cache
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/38c62459-2f07-4de1-8802-af5fb39087f0.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/506ff85a-0193-44ae-9903-0d7f62525466.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/94587083-aa06-4325-ab16-699481b7f7f2.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/9ed6c8a7-200b-49dd-a27d-c2e423e94e04.vsidx
.vs/ride-share-connect_ttp1adds2508_team-1/v17/.wsuo
.vs/slnx.sqlite
RideShareConnect/obj/Debug/net8.0/RideShareConnect.AssemblyInfoInputs.cache
.vs/ride-share-connect_ttp1adds2508_team-1/FileContentIndex/33b3fe95-de7c-4db2-98a5-94a6125e23d3.vsidx
